[Unit]
Description=Codeberg Pages Server
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/codeberg-pages-server

Restart=on-failure

User=pages
Group=pages

WorkingDirectory=/var/pages/

Environment=PAGES_DOMAIN={{ pages_domain | default("codeberg.page") }}
Environment=RAW_DOMAIN=raw.{{ pages_domain | default("codeberg.page") }}
Environment=GITEA_ROOT=https://{{ main_domain | default("codeberg.org") }}
Environment=GITEA_API_TOKEN={{ gitea_api_key }}
Environment=PAGES_BRANCHES=pages,master,main

Environment=ENABLE_HTTP_SERVER=true
Environment=HTTP_PORT=80
Environment=HTTPS_PORT=443
Environment=ENABLE_LFS_SUPPORT=true
Environment=ENABLE_SYMLINK_SUPPORT=true

Environment=ACME_ACCEPT_TERMS=true
Environment=DNS_PROVIDER=gandiv5
Environment=ACME_EMAIL={{ acme_email }}
Environment=GANDIV5_API_KEY={{ gandi_api_key }}

Environment=DB_TYPE=sqlite3
Environment=DB_CONN=file:/var/pages/certs.sqlite?cache=shared&mode=rwc&_busy_timeout=500&_txlock=immediate&_journal_mode=WAL

[Install]
WantedBy=multi-user.target
