# http listen address
# Default: 127.0.0.1:8080
http-address :8080
# Log level
# Options: debug, info, warning, error
# Default: info
log-level info
# Log format
# Options: text, json
# Default: text
# TODO: Switch to json, when Codeberg supports log parsing
log-format text
# Write logs to this file. If unset, cibot logs to stderr.
# Default: ""
log-file /var/log/cibot/cibot.log
# URL of Forgejo instance that the bot should use
# Default: https://codeberg.org
forgejo-url "https://codeberg.org"
# Webhook secret
# This is an arbitrary string that can be used to cryptographically sign and verify
# the webhook payload.
# If set, it has to be configured in the repository's webhook settings as well.
webhook-secret {{ cibot_webhook_secret }}
# Webhook Authorization Header
# This is an arbitrary string that can be used as some kind of "Basic Authentication"
# to protect the publicly available cibot from fake payloads.
# If set, it has to be configured in the repository's webhook settings as well.
authorization-header "Bearer {{ cibot_authorization_header }}"
# API access token
# This setting is required.
token {{ cibot_token }}
# List of users that are authorized to grant CI access.
# Default:
authorized-users pat-s n0toose fnetX crapStone 6543
# Organization whose members are authorized to grant CI access.
# Default: Codeberg-e.V.
authorized-organization ""
# ID of team whose members are authorized to grant CI access.
# Default:
authorized-team 16275
# List of users that are authorized to revoke CI access.
# Default:
revocation-authorized-users pat-s n0toose fnetX crapStone 6543
# Organization whose members are authorized to revoke CI access.
# Default:
revocation-authorized-organization ""
# ID of team whose members are authorized to revoke CI access.
# Default:
revocation-authorized-team ""
# ID of team to that users will be added to or removed from
# This setting is required.
team-id {{ cibot_team_id }}

# Settings regarding the handling of issues.
issue {
    # For issues to be considered, their title has to start with this string.
    # If you want to consider every issue, set this to an empty string.
    # Default: [CI]
    prefix [CI]
    # If a comment from an authorized user matches one of these keywords,
    # the cibot will add the collected users to the team.
    # Default: approving
    keywords approving LGTM
    # If a comment from an authorized user starts with one of these keywords,
    # the cibot will revoke the access by removing the collected users from
    # the team.
    # Default: revoking
    revocation-keywords revoking
    # If this markdown heading is found in the issue body, additional usernames
    # will be parsed from the text between this heading and the next one.
    # Usernames have to be separated by newline and may start with "@".
    # Default: "I would also like the following users to be added"
    user-heading "I would also like the following users to be added"
    # Close issue after successful handling.
    # Options: true, false
    # Default: true
    close true
    # Comment on issue after successful handling.
    # Default: ""
    comment "Access granted."
    # Comment on issue after successful revocation.
    # Default: ""
    revocation-comment "Access revoked."
    # Mention the added users in the comment.
    # This setting is only regarded if "comment" is set to a non-empty string.
    # Options: true, false
    # Default: true
    mention-users true
}
